html, body {
    height: 100%;
    font-family:RobotoDraft;
}

md-toolbar {
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0, 0, 0, .28);
}

/* Custom Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight:100;
}

/* Custom Layout Semantics */
.middle {
    text-align:center;
}

.padding-light {
    padding:5px;
}

.padding-medium {
    padding:10px;
}

.padding-heavy {
    padding:20px;
}
/* Custom Typography */




footer {
    padding: 16px;
}

md-card {
    background-color: #ffffff;
    cursor: pointer;
}

/*https://github.com/angular/material/issues/1106*/
md-toast {
    position:fixed;
}

.collapsed-row span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}

.round-face {
    border-radius: calc(100%);
    /*
    width: 48px;
    height: 48px;
    margin: 8px;
    */
}

.animate-if {
    background:white;
    border:1px solid black;
    padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}

.md-button span{
    vertical-align:middle;
}

md-sidenav button {
    height:60px;
}



/* Layout Definitions */

md-content #main {
    width: 100%;
}

#main > #main-list {
    width:70%;
}

div#content {
    width:100%;
    margin:0 auto;
}

md-card {
    opacity: 1;
}
md-card.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}
md-card.ng-enter-active {
    opacity: 1;
}

/* ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: inherit !important;
  visibility: hidden !important;
}

/*
 * SVG Icons I have come with no padding
 * so I am putting 5 px of left and right padding
 * on them, and cancelling out angular-materia.css's
 * box-sizing:border-box; property on any element inside
 * md-toolbars so that icons in the toolbar do not get
 * shrunken, instead they stay the same size and their containers
 * grow
 */

md-toolbar *, md-toolbar :after, md-toolbar :before{
    box-sizing:content-box !important;
}

md-icon {
    padding:0 5px 0 5px;
}

md-icon#tool-bar-profile {
    width: 40px;
    height: 40px;
    padding: 0px;
}